@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-select {
  &__control {
    background-color: rgb(71, 81, 102) !important;
    border: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__multi-value {
    background-color: rgb(140, 140, 214) !important;
    border-radius: 8px !important;

    &__label {
      color: aliceblue !important;

    }

    &__remove {
      color: aliceblue !important;
      cursor: pointer !important;
    }
  }

  &__menu {
    animation: scaleIn .4s;
    background-color: rgb(43, 70, 100) !important;

    &--list {
      background-color: cyan !important;

      &:hover {
        color: aqua !important;
      }
    }
  }

  &__option {
    color: rgb(2, 118, 141) !important;

    &:hover {
      background-color: rgb(99, 121, 247) !important;
    }
  }
}